[submodule "vim/repos/terminus"]
	path = vim/repos/terminus
	url = ../../wincent/terminus.git
[submodule "zsh/repos/fast-syntax-highlighting"]
	path = zsh/repos/fast-syntax-highlighting
	url = ../../zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/repos/ohmyzsh"]
	path = zsh/repos/ohmyzsh
	url = ../../ohmyzsh/ohmyzsh.git
[submodule "zsh/repos/powerlevel10k"]
	path = zsh/repos/powerlevel10k
	url = ../../romkatv/powerlevel10k.git
[submodule "zsh/repos/zsh-autosuggestions"]
	path = zsh/repos/zsh-autosuggestions
	url = ../../zsh-users/zsh-autosuggestions.git
